<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>flask-react</title>
    </head>
    <body>
        <script src="/dist/flask-example.js"></script>
        <!-- <script type="text/javascript" charset="utf-8"> -->
        <!-- </script> -->

        <div class="container" id="app-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h3>loading...</h3>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
